{% extends 'layout.html' %}
{% block description %}{{ post.title | safe }} - {{ post.description | safe }} - Cybersaksham Blogs{% endblock %}
{% block title %}{{ post.title | safe }}{% endblock %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title | safe }}</h1>
                    <h2 class="subheading">{{ post.subtitle | safe }}</h2>
                    <span class="meta">
                                Posted by
                        {% if admin == None %}
                                <a href="#!">{{ user.fname | safe }}</a>
                        {% else %}
                        <a href="/">You</a>
                        {% endif %}
                                on {{ post.time_upload | safe }}
                            </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</article>
<div class="container my-2"
     style="display: flex; align-items: center; justify-content: space-around;">
    {% if prevPost == None %}
    <a style="pointer-events: none" href="javascript:void(0)" class="btn btn-secondary">Prev</a>
    {% else %}
    <a href="/post/{{ prevPost.id | safe }}" class="btn btn-primary">Prev</a>
    {% endif %}
    {% if nextPost == None %}
    <a style="pointer-events: none" href="javascript:void(0)" class="btn btn-secondary">Next</a>
    {% else %}
    <a href="/post/{{ nextPost.id | safe }}" class="btn btn-primary">Next</a>
    {% endif %}
</div>
{% endblock %}
