{% extends 'layout.html' %}
{% block description %}{{ post.title | safe }} - {{ post.description | safe }} - Cybersaksham Blogs{% endblock %}
{% block title %}{{ post.title | safe }}{% endblock %}
{% block body %}
<link href="/static/settings/style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title | safe }}</h1>
                    <h2 class="subheading">{{ post.subtitle | safe }}</h2>
                    <span class="meta">
                        {% if post.updated == False %}
                        Posted by
                        {% else %}
                        Updated by
                        {% endif %}
                        {% if login == False %}
                        <a href="/{{ user.id | safe }}/about">{{ user.fname | safe }}</a>
                        {% else %}
                        <a href="/">You</a>
                        {% endif %}
                        on {{ post.time_upload | safe }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% if login == True %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="editPost" data-toggle="tab" href="#edit" role="tab"
                       aria-controls="edit" aria-selected="false">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="deletePost" data-toggle="tab" href="#delete" role="tab"
                       aria-controls="delete" aria-selected="false">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="copyPost" data-toggle="tab" href="#copy" role="tab"
                       aria-controls="copy" aria-selected="false">Copy</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<!-- Post Content-->
<div class="container">
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ post.content | safe }}</p>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="container my-2"
     style="display: flex; align-items: center; justify-content: space-around;">
    {% if prevPost == None %}
    <a style="pointer-events: none" href="javascript:void(0)" class="btn btn-secondary">Prev</a>
    {% else %}
    <a href="/post/{{ prevPost.id | safe }}" class="btn btn-primary">Prev</a>
    {% endif %}
    {% if nextPost == None %}
    <a style="pointer-events: none" href="javascript:void(0)" class="btn btn-secondary">Next</a>
    {% else %}
    <a href="/post/{{ nextPost.id | safe }}" class="btn btn-primary">Next</a>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/static/posts/script.js"></script>
{% endblock %}
