<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/settings/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="view-tab" data-toggle="tab" href="#view" role="tab"
                           aria-controls="view" aria-selected="false">View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab"
                           aria-controls="edit" aria-selected="false">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab"
                           aria-controls="delete" aria-selected="false">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout-tab" data-toggle="tab" href="#logout" role="tab"
                           aria-controls="logout" aria-selected="false">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="false">Home</a>
                    </li>
                </ul>
                <form id="profileForm">
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="/static/assets/avatar.png" draggable="false" alt="..."
                                     class="avatar-img rounded-circle"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h4 class="mb-1">{{ user.fname }} {{ user.lname }}</h4>
                                    <p class="small mb-3"><span class="badge badge-dark">{{ user.email }}</span></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-7">
                                    <p class="text-muted">{{ user.about }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="info">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname">Firstname</label>
                                <input type="text" name="firstname" id="firstname" class="form-control"
                                       value="{% if user.complete == True %}{{ user.fname }}{% endif %}"
                                       placeholder="Enter firstname" readonly/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname">Lastname</label>
                                <input type="text" name="lastname" id="lastname" class="form-control"
                                       value="{% if user.complete == True %}{{ user.lname }}{% endif %}"
                                       placeholder="Enter lastname" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url_nonLogin">Url for audience</label>
                            <input readonly type="text" class="form-control" value="{{ user.id | safe}}"
                                   id="url_nonLogin" name="url_nonLogin"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input readonly type="email" class="form-control" id="email" value="{{ user.email }}"
                                   placeholder="Enter your email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address"
                                   value="{% if user.complete == True %}{{ user.address }}{% endif %}"
                                   placeholder="Enter your address" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="about">About</label>
                            <textarea readonly class="form-control" placeholder="Tell few words about you."
                                      id="about" name="about" rows="5">{% if user.complete == True %}{{ user.about }}{% endif %}</textarea>
                        </div>
                    </section>
                    <section id="social">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="twitter">Twitter</label>
                                <input type="text" name="twitter" id="twitter" class="form-control"
                                       value="{% if user.twitter != None %}{{ user.twitter }}{% endif %}"
                                       placeholder="Enter twitter url" readonly/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="insta">Instagram</label>
                                <input type="text" name="insta" id="insta" class="form-control"
                                       value="{% if user.insta != None %}{{ user.insta }}{% endif %}"
                                       placeholder="Enter insta url" readonly/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="github">Github</label>
                                <input type="text" name="github" id="github" class="form-control"
                                       value="{% if user.github != None %}{{ user.github }}{% endif %}"
                                       placeholder="Enter github url" readonly/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="website">Website</label>
                                <input type="text" name="website" id="website" class="form-control"
                                       value="{% if user.website != None %}{{ user.website }}{% endif %}"
                                       placeholder="Enter your website" readonly/>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/static/settings/setting.js"></script>
</body>
</html>